<div class="center hero-unit">
  <% provide :title, 'Home' %>
  <h1>Welcome to Twitta</h1>
  <p>Find me in app/views/static_pages/home.html.erb</p>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
<%= link_to image_tag("rails.png", alt: "Rails"), 'http://www.google.co.uk' %>
